<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="responsavel">
            <h2><span jhiTranslate="mmgestorApp.responsavel.detail.title">Responsavel</span> {{responsavel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mmgestorApp.responsavel.cpf">Cpf</span></dt>
                <dd>
                    <span>{{responsavel.cpf}}</span>
                </dd>
                <dt><span jhiTranslate="mmgestorApp.responsavel.nomeCompleto">Nome Completo</span></dt>
                <dd>
                    <span>{{responsavel.nomeCompleto}}</span>
                </dd>
                <dt><span jhiTranslate="mmgestorApp.responsavel.dtNascimento">Dt Nascimento</span></dt>
                <dd>
                    <span>{{responsavel.dtNascimento}}</span>
                </dd>
                <dt><span jhiTranslate="mmgestorApp.responsavel.endereco">Endereco</span></dt>
                <dd>
                    <div *ngIf="responsavel.endereco">
                        <a [routerLink]="['/endereco', responsavel.endereco?.id, 'view']">{{responsavel.endereco?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mmgestorApp.responsavel.usuario">Usuario</span></dt>
                <dd>
                    {{responsavel.usuario?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/responsavel', responsavel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
