<div>
    <h2 id="page-heading">
        <span jhiTranslate="mmGestorApp.responsavel.home.title">Responsavels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-responsavel" [routerLink]="['/responsavel/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mmGestorApp.responsavel.home.createLabel">
            Create a new Responsavel
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mmGestorApp.responsavel.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="responsavels?.length === 0">
        <span jhiTranslate="mmGestorApp.responsavel.home.notFound">No responsavels found</span>
    </div>
    <div class="table-responsive" *ngIf="responsavels?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cpf"><span jhiTranslate="mmGestorApp.responsavel.cpf">Cpf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nomeCompleto"><span jhiTranslate="mmGestorApp.responsavel.nomeCompleto">Nome Completo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dtNascimento"><span jhiTranslate="mmGestorApp.responsavel.dtNascimento">Dt Nascimento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="endereco.id"><span jhiTranslate="mmGestorApp.responsavel.endereco">Endereco</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="usuario.id"><span jhiTranslate="mmGestorApp.responsavel.usuario">Usuario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let responsavel of responsavels ;trackBy: trackId">
                <td><a [routerLink]="['/responsavel', responsavel.id, 'view' ]">{{responsavel.id}}</a></td>
                <td>{{responsavel.cpf}}</td>
                <td>{{responsavel.nomeCompleto}}</td>
                <td>{{responsavel.dtNascimento | date:'medium'}}</td>
                <td>
                    <div *ngIf="responsavel.endereco">
                        <a [routerLink]="['/endereco', responsavel.endereco?.id, 'view' ]" >{{responsavel.endereco?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="responsavel.usuario">
                        <a [routerLink]="['/usuario', responsavel.usuario?.id, 'view' ]" >{{responsavel.usuario?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/responsavel', responsavel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/responsavel', responsavel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(responsavel)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="responsavels?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
