<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="local">
            <h2><span jhiTranslate="mmGestorApp.local.detail.title">Local</span> {{local.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mmGestorApp.local.nome">Nome</span></dt>
                <dd>
                    <span>{{local.nome}}</span>
                </dd>
                <dt><span jhiTranslate="mmGestorApp.local.area">Area</span></dt>
                <dd>
                    <span>{{local.area}}</span>
                </dd>
                <dt><span jhiTranslate="mmGestorApp.local.ehContigua">Eh Contigua</span></dt>
                <dd>
                    <span>{{local.ehContigua}}</span>
                </dd>
                <dt><span jhiTranslate="mmGestorApp.local.tipo">Tipo</span></dt>
                <dd>
                    <div *ngIf="local.tipo">
                        <a [routerLink]="['/tipo-local', local.tipo?.id, 'view']">{{local.tipo?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mmGestorApp.local.endereco">Endereco</span></dt>
                <dd>
                    <div *ngIf="local.endereco">
                        <a [routerLink]="['/endereco', local.endereco?.id, 'view']">{{local.endereco?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mmGestorApp.local.pai">Pai</span></dt>
                <dd>
                    <div *ngIf="local.pai">
                        <a [routerLink]="['/local', local.pai?.id, 'view']">{{local.pai?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/local', local.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
