<div>
    <h2 id="page-heading">
        <span jhiTranslate="mmgestorApp.associado.home.title">Associados</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-associado" [routerLink]="['/associado/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mmgestorApp.associado.home.createLabel">
            Create a new Associado
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="associados?.length === 0">
        <span jhiTranslate="mmgestorApp.associado.home.notFound">No associados found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="associados && associados.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dtNascimento"><span jhiTranslate="mmgestorApp.associado.dtNascimento">Dt Nascimento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cep"><span jhiTranslate="mmgestorApp.associado.cep">Cep</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="logradouro"><span jhiTranslate="mmgestorApp.associado.logradouro">Logradouro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numero"><span jhiTranslate="mmgestorApp.associado.numero">Numero</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="complemento"><span jhiTranslate="mmgestorApp.associado.complemento">Complemento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bairro"><span jhiTranslate="mmgestorApp.associado.bairro">Bairro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="localidade"><span jhiTranslate="mmgestorApp.associado.localidade">Localidade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uf"><span jhiTranslate="mmgestorApp.associado.uf">Uf</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipo.id"><span jhiTranslate="mmgestorApp.associado.tipo">Tipo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="usuario.id"><span jhiTranslate="mmgestorApp.associado.usuario">Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let associado of associados ;trackBy: trackId">
                    <td><a [routerLink]="['/associado', associado.id, 'view']">{{ associado.id }}</a></td>
                    <td>{{ associado.dtNascimento | date:'mediumDate' }}</td>
                    <td>{{ associado.cep }}</td>
                    <td>{{ associado.logradouro }}</td>
                    <td>{{ associado.numero }}</td>
                    <td>{{ associado.complemento }}</td>
                    <td>{{ associado.bairro }}</td>
                    <td>{{ associado.localidade }}</td>
                    <td>{{ associado.uf }}</td>
                    <td>
                        <div *ngIf="associado.tipo">
                            <a [routerLink]="['/tipo-associado', associado.tipo?.id, 'view']" >{{ associado.tipo?.id }}</a>
                        </div>
                    </td>
                    <td>
                        {{ associado.usuario?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/associado', associado.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/associado', associado.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(associado)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="associados && associados.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
