<div>
    <h2 id="page-heading">
        <span jhiTranslate="mmgestorApp.haras.home.title">Haras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-haras" [routerLink]="['/haras/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mmgestorApp.haras.home.createLabel">
            Create a new Haras
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="haras?.length === 0">
        <span jhiTranslate="mmgestorApp.haras.home.notFound">No haras found</span>
    </div>
    <div class="table-responsive" *ngIf="haras?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span jhiTranslate="mmgestorApp.haras.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="localidade"><span jhiTranslate="mmgestorApp.haras.localidade">Localidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="uf"><span jhiTranslate="mmgestorApp.haras.uf">Uf</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="responsavel.id"><span jhiTranslate="mmgestorApp.haras.responsavel">Responsavel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let haras of haras ;trackBy: trackId">
                <td><a [routerLink]="['/haras', haras.id, 'view' ]">{{haras.id}}</a></td>
                <td>{{haras.nome}}</td>
                <td>{{haras.localidade}}</td>
                <td>{{haras.uf}}</td>
                <td>
                    <div *ngIf="haras.responsavel">
                        <a [routerLink]="['/responsavel', haras.responsavel?.id, 'view' ]" >{{haras.responsavel?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/haras', haras.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/haras', haras.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(haras)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="haras?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
