<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-haras-heading" jhiTranslate="mmGestorApp.haras.home.createOrEditLabel">Create or edit a Haras</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmGestorApp.haras.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmGestorApp.haras.localidade" for="field_localidade">Localidade</label>
                    <input type="text" class="form-control" name="localidade" id="field_localidade"
                           formControlName="localidade"/>
                    <div *ngIf="editForm.get('localidade')!.invalid && (editForm.get('localidade')!.dirty || editForm.get('localidade')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('localidade')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmGestorApp.haras.uf" for="field_uf">Uf</label>
                    <input type="text" class="form-control" name="uf" id="field_uf"
                           formControlName="uf"/>
                    <div *ngIf="editForm.get('uf')!.invalid && (editForm.get('uf')!.dirty || editForm.get('uf')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uf')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmGestorApp.haras.responsavel" for="field_responsavel">Responsavel</label>
                    <select class="form-control" id="field_responsavel" name="responsavel" formControlName="responsavel">
                        <option *ngIf="!editForm.get('responsavel')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="responsavelOption.id === editForm.get('responsavel')!.value?.id ? editForm.get('responsavel')!.value : responsavelOption" *ngFor="let responsavelOption of responsavels; trackBy: trackById">{{responsavelOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('responsavel')!.invalid && (editForm.get('responsavel')!.dirty || editForm.get('responsavel')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('responsavel')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
