<div>
    <h2 id="page-heading">
        <span jhiTranslate="mmgestorApp.tipoAssociado.home.title">Tipo Associados</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tipo-associado" [routerLink]="['/tipo-associado/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mmgestorApp.tipoAssociado.home.createLabel">
            Create a new Tipo Associado
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tipoAssociados?.length === 0">
        <span jhiTranslate="mmgestorApp.tipoAssociado.home.notFound">No tipoAssociados found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tipoAssociados && tipoAssociados.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="mmgestorApp.tipoAssociado.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="mmgestorApp.tipoAssociado.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ehAdministrador"><span jhiTranslate="mmgestorApp.tipoAssociado.ehAdministrador">Eh Administrador</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ehFinanceiro"><span jhiTranslate="mmgestorApp.tipoAssociado.ehFinanceiro">Eh Financeiro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ehOperacional"><span jhiTranslate="mmgestorApp.tipoAssociado.ehOperacional">Eh Operacional</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ehVeterinario"><span jhiTranslate="mmgestorApp.tipoAssociado.ehVeterinario">Eh Veterinario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipoAssociado of tipoAssociados ;trackBy: trackId">
                    <td><a [routerLink]="['/tipo-associado', tipoAssociado.id, 'view']">{{ tipoAssociado.id }}</a></td>
                    <td>{{ tipoAssociado.nome }}</td>
                    <td>{{ tipoAssociado.descricao }}</td>
                    <td>{{ tipoAssociado.ehAdministrador }}</td>
                    <td>{{ tipoAssociado.ehFinanceiro }}</td>
                    <td>{{ tipoAssociado.ehOperacional }}</td>
                    <td>{{ tipoAssociado.ehVeterinario }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/tipo-associado', tipoAssociado.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/tipo-associado', tipoAssociado.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(tipoAssociado)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="tipoAssociados && tipoAssociados.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
