<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-animal-heading" jhiTranslate="mmgestorApp.animal.home.createOrEditLabel">Create or edit a Animal</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmgestorApp.animal.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmgestorApp.animal.dtNascimento" for="field_dtNascimento">Dt Nascimento</label>
                    <div class="input-group">
                        <input id="field_dtNascimento" type="text" class="form-control" name="dtNascimento" ngbDatepicker  #dtNascimentoDp="ngbDatepicker" formControlName="dtNascimento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dtNascimentoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dtNascimento')!.invalid && (editForm.get('dtNascimento')!.dirty || editForm.get('dtNascimento')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dtNascimento')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmgestorApp.animal.sexo" for="field_sexo">Sexo</label>
                    <select class="form-control" name="sexo" formControlName="sexo" id="field_sexo">
                        <option value="MACHO">{{'mmgestorApp.Sexo.MACHO' | translate}}</option>
                        <option value="FEMEA">{{'mmgestorApp.Sexo.FEMEA' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('sexo')!.invalid && (editForm.get('sexo')!.dirty || editForm.get('sexo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sexo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmgestorApp.animal.pelagem" for="field_pelagem">Pelagem</label>
                    <select class="form-control" name="pelagem" formControlName="pelagem" id="field_pelagem">
                        <option value="BRANCA">{{'mmgestorApp.Pelagem.BRANCA' | translate}}</option>
                        <option value="ALAZA">{{'mmgestorApp.Pelagem.ALAZA' | translate}}</option>
                        <option value="CASTANHA">{{'mmgestorApp.Pelagem.CASTANHA' | translate}}</option>
                        <option value="TORDILHA">{{'mmgestorApp.Pelagem.TORDILHA' | translate}}</option>
                        <option value="AMARILHA">{{'mmgestorApp.Pelagem.AMARILHA' | translate}}</option>
                        <option value="BAIA">{{'mmgestorApp.Pelagem.BAIA' | translate}}</option>
                        <option value="PAMPA">{{'mmgestorApp.Pelagem.PAMPA' | translate}}</option>
                        <option value="ROSILHA">{{'mmgestorApp.Pelagem.ROSILHA' | translate}}</option>
                        <option value="PRETA">{{'mmgestorApp.Pelagem.PRETA' | translate}}</option>
                        <option value="LOBUNA">{{'mmgestorApp.Pelagem.LOBUNA' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('pelagem')!.invalid && (editForm.get('pelagem')!.dirty || editForm.get('pelagem')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('pelagem')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmgestorApp.animal.ehVivo" for="field_ehVivo">Eh Vivo</label>
                    <input type="checkbox" class="form-control" name="ehVivo" id="field_ehVivo"
                           formControlName="ehVivo"/>
                    <div *ngIf="editForm.get('ehVivo')!.invalid && (editForm.get('ehVivo')!.dirty || editForm.get('ehVivo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ehVivo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mmgestorApp.animal.dadosAssociacao" for="field_dadosAssociacao">Dados Associacao</label>
                    <select class="form-control" id="field_dadosAssociacao" name="dadosAssociacao" formControlName="dadosAssociacao">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dadosAssociacaoOption.id === editForm.get('dadosAssociacao')!.value?.id ? editForm.get('dadosAssociacao')!.value : dadosAssociacaoOption" *ngFor="let dadosAssociacaoOption of dadosassociacaos; trackBy: trackById">{{dadosAssociacaoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
